

body {

    font-family: 'Roboto', sans-serif;
    height: 10000px;
    
}

.main-btn {
    background-color: var(--green-color);
   color:  var(--dark-color);


}
.main-btn:hover{

    color: bisque;
    background-color: var(--green-color);
}